<% @counties.each do |county| %>
  <h1><%= county.name %> County Total <%= county.total_cases %></h1>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <th>Borough/City/Township</th>
        <th>Total COVID19 Cases</th>
      </thead>
      <tbody>
        <% county.cities.each do |city| %>
          <tr>
            <td><%= city.name %></td>
            <td><%= city.total_cases %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>    
<% end %>