<% @counties.each do |county| %>
  <div class="text-center">
    <h1><%= county.name %> County Total <%= county.total_cases %></h1>
    <%= pie_chart county.chart_data, legend: false %>
  </div>
  <% county.cities.where(is_hidden: false).each do |city| %>
    <%= render city %>
  <% end %>
<% end %>